<h1>Products#index</h1>

<%= link_to "New product", new_product_path %>

<div id="products">
  <% @products.each do |product| %>
    <div class="product">
      <%= link_to product.name, product_path(product) %>
    </div>
  <% end %>

</div>